@tailwind base;
@tailwind components;
@tailwind utilities;

.best {
  background-position: 0 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.prebump:hover .bump {
  transform: translate(0, -5px);
  transition: 0.2s;
}

.bump {
  transition: 0.2s;
}
